<div class="table">
  <div
    class="table-header"
    [style.grid-template-columns]="'repeat(' + columns.length + ', 1fr)'"
  >
    @for (column of columns; track column.key) {
    <div class="table-cell" [style.text-align]="column.align">
      {{ column.name }}
    </div>
    }
  </div>
  @for (row of rows; track row.id) {
  <div
    class="table-row"
    [style.grid-template-columns]="'repeat(' + columns.length + ', 1fr)'"
  >
    @for (column of columns; track column.key) {
    <div class="table-cell" [style.text-align]="column.align">
      @if (column.type === 'text') {
      {{ row[column.key] }}

      } @else {
      <app-toggle
        [value]="row[column.key]"
        (onToggle)="cellToggled.emit({ id: row.id, value: $event })"
      />
      }
    </div>
    }
  </div>
  }
</div>
