:root {
  --primary-color: #fff;
  --background-color: #aaffef;
  --text-color: #2d2d2d;
  --action-color: #ff6c07;
  --action-color-light: #feab71;
  --action-color-hover: #f90e08;

  --max-width: 1220px;
}
